* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #262a2f;
    color: #333;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/turquoise-ocean-color-sea-waves-with-ripples-background_1017-37269.jpg?size=626&ext=jpg&ga=GA1.2.843810337.1689921852&semt=ais");
    background-size: cover;
}

.search-box {
    max-width: 600px;
    background-color: #fff;
    margin: 50px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

form {
    width: 100%;
    display: flex;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #333;
    width: 95%;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button i {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box li {
    list-style: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box li:hover {
    background-color: #22668D;
    color: #fff;
}

.text {
    width: 100%;
    text-align: center;
    padding-top: 86px;
}

.text h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px #000000;
}

.text p {
    color: #000000;
    margin-bottom: 15px;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

.result-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.result-box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.result-box::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.main-object {
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-vector/turquoise-ocean-color-sea-waves-with-ripples-background_1017-37269.jpg?size=626&ext=jpg&ga=GA1.2.843810337.1689921852&semt=ais");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.text h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px #000000;
}

.text p {
    color: #000000;
    margin-bottom: 15px;
}

.container {
    width: 54%;
    height: 100%;
    background-color: #002D62;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.detail {
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    background-color: #002D62;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.types {
    flex-basis: 42%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #d1d1d1;
}

.object {
    flex-basis: 49%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #d1d1d1;
}

.content {
    flex-basis: 49%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    background-color: #d1d1d1;
}

.object-img {
    width: 350px;
    height: 226px;
    border-radius: 15px;
}

.object h1 {
    padding-bottom: 5px;
}

.water-content {
    margin-top: 35px;
    color: #22668D;
    font-size: 26px;
    font-weight: 600;
}

.percentage {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage div {
    width: 100px;
}

.percentage div i {
    font-size: 60px;
    margin-bottom: 5px;
}

.percentage div p {
    font-size: 26px;
    font-weight: 600;
}

.highlight {
    font-weight: 600;
}

.types p {
    margin-bottom: 5px;
    font-size: 14px;
}

.no {
    display: none;
}

.prev {
    position: absolute;
    top: 19%;
    left: 73.5%;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.prev i {
    font-size: 26px;
}

@media only screen and (max-width: 600px) {
    .search-box {
        width: 86%;
    }

    .main-object {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .detail {
        background-color: transparent;
        flex-direction: column;
    }

    .types, .object, .content{
        flex-basis: 100%;
        border: 1px solid #000000;
    }

    .container {
        border-radius: 0;
        padding: 35px;
    }

    .object, .content {
        margin-bottom: 35px;
    }

    .object {
        text-align: center;
    }

    .object-img {
        width: 250px;
        height: 140px;
    }

    .prev {
        top: 11.65%;
        left: 77%;
        width: 60px;
    }

    .prev i {
        font-size: 26px;
    }

    .text {
        padding-top: 35px;
    }
}