* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #262a2f;
    color: #333;
}

.search-box {
    max-width: 600px;
    background-color: #fff;
    margin: 50px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #333;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button i {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box li {
    list-style: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box li:hover {
    background-color: #22668D;
    color: #fff;
}

.text {
    text-align: center;
    margin-top: 150px;
}

.text h1 {
    color: #fff;
}

.text p {
    color: #0e98bb;
    margin-top: 5px;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

.result-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.result-box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.result-box::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


@media only screen and (max-width: 600px) {
    .search-box {
        width: 85%;
    }
}