* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #d1d1d1;
}

.container {
    max-width: 90%;
    padding: 50px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #7caed9;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px #000000;
}

.container h1 span {
    color: #002D62;
}

.container p {
    color: #0e98bb;
    margin-bottom: 15px;
}

.container.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .btn{
    width: 85%;
    height: 50px;
    background-color: #4F709C;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px 0;
    font-weight: 600;
    transition: background 0.5s;
}

.btn i {
    padding-right: 5px;
    font-size: 1.1rem;
}

.btn:hover {
    background: #22668D;
}